<div id="comment">
  <%= link_to comment.user.user_name, '#', class: "user-name" %>
<!-- <div class="comment-content"> -->
  <%= comment.content %>
<!--  </div> -->
  <% if comment.user == current_user %>
    <%= link_to pic_comment_path(pic, comment), method: :delete, data: { pic_id: pic.id, value: pic.comments.count, confirm: "本当に削除してよろしいですか？" }, remote: true, id: "delete-#{comment.id}", class: "delete-comment" do %>
      <span class="glyphicon glyphicon-remove delete-comment-icon"></span>
    <% end %>
  <% end %>
</div>
