<%= render 'form' %>
<div class="text-center edit-links">
  <%= link_to "削除", pic_path(@pic), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除してよろしいですか？" } %>
  |
  <%= link_to "戻る", pics_path, class: "btn btn-success" %>
</div>
