<%= render 'pic', pic: @pic %>
<div class="text-center edit-links">
  <% if @pic.user.id == current_user.id %>
  <%= link_to "戻る", pics_path %>
  |
  <%= link_to "編集", edit_pic_path(@pic) %>
<% else %>
  <%= link_to "戻る", pics_path %>
  <% end %>
</div>
